<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Sentiment Analysis</title>
    <!-- <link rel="stylesheet" href="/styles/resets.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/footer.css"> -->
</head>

<body>

    <header>
        Sentiment Analysis
    </header>

    <main>
        <section>
            <form>
                <input id="urlToAnalyze" type="text" name="input" placeholder="Enter URL to analyze...">
                <div id="urlError"></div>
                <input id="submitRequest" type="submit" value="Submit Request">
                <div id="analysis">
                    <div id="results"></div>
                    <div id="polarity"></div>
                    <div id="subjectivity"></div>
                    <div id="polarity-confidence"></div>
                    <div id="subjectivity-confidence"></div>
                </div>
            </form>
    </main>

    <footer>
        <p>&copy; 2020</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>