$font-color:  #e4b04a;
$primary-color: #252525;

header {
    background-color: $primary-color;
    color: $font-color;
    height: 70px;
    font-size: 3em;
    padding: 10px 0 0 30px;
    font-weight: 700;
}
